<%-include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% for ( var i=0; i<newListItems.length; ++i){%> <div class="item">
    <input type="checkbox">
    <p><%= newListItems[i] %></p>
  </div>
  <%} %>



  <form class="" action="/" method="post">
    <h3>Add another item to the list:</h3>
    <input type="text" name="listItem" placeholder="List Item" required autofocus>
    <button type="submit" name="list" value=<%= listTitle %>>Add item</button>

  </form>

</div>

<%-include("footer") -%>
